<div class = "row row-centered">
        <label class= "labelClass">PostIt:</label>
        <input id="someInput" class="input" type="text" ng-model="PostIt" placeholder="Enter your PostIt Note"> <!-- onfocus="clearInputText"> -->
        <!--ng-model="PostIt">-->
        <button type="button" id="postButton" onClick="addPostIt();">Post!</button>
        <!-- <button type="button" onClick="addPostIt();">Add PostIt</button> -->
        <!-- angular binding <h2 class = "text-center">Your PostIt message is: {{ PostIt }}</h2> -->

        
      </div>
      <hr>